# dependencias
/node_modules
/.pnp
.pnp.*

# build de Next
/.next/
/out/
/build
next-env.d.ts

# entorno
.env
.env*.local

# despliegue
.vercel

# sistema
.DS_Store
*.pem
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# notas de trabajo internas
/archivo-v0
/docs
